.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: whitesmoke;
}

.link.active {
  color: #e84a5f;
}

.navlist {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 20px;
}
.navitem {
  display: flex;
  align-items: center;
}
